USE [QUAN_LY_NHA_HANG]
GO
/****** Object:  Table [dbo].[LichSuDieuDong]    Script Date: 16/11/2024 3:21:42 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDieuDong](
	[MaCN] [varchar](10) NOT NULL,
	[MaTkNV] [varchar](10) NOT NULL,
	[NgayBD] [datetime] NOT NULL,
	[NgayKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCN] ASC,
	[MaTkNV] ASC,
	[NgayBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LichSuDieuDong] ([MaCN], [MaTkNV], [NgayBD], [NgayKT]) VALUES (N'CN00', N'NV0093', CAST(N'2011-09-27T00:04:33.000' AS DateTime), CAST(N'2008-06-13T06:54:51.150' AS DateTime))
INSERT [dbo].[LichSuDieuDong] ([MaCN], [MaTkNV], [NgayBD], [NgayKT]) VALUES (N'CN00', N'NV0119', CAST(N'2014-02-13T00:07:27.000' AS DateTime), CAST(N'2014-02-18T00:07:27.000' AS DateTime))
INSERT [dbo].[LichSuDieuDong] ([MaCN], [MaTkNV], [NgayBD], [NgayKT]) VALUES (N'CN00', N'NV0327', CAST(N'2015-09-01T00:09:20.000' AS DateTime), CAST(N'2015-09-06T00:09:20.000' AS DateTime))
GO
ALTER TABLE [dbo].[LichSuDieuDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDieuDong_ChiNhanh] FOREIGN KEY([MaCN])
REFERENCES [dbo].[ChiNhanh] ([MaCN])
GO
ALTER TABLE [dbo].[LichSuDieuDong] CHECK CONSTRAINT [FK_LichSuDieuDong_ChiNhanh]
GO
ALTER TABLE [dbo].[LichSuDieuDong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuDieuDong_NhanVien] FOREIGN KEY([MaTkNV])
REFERENCES [dbo].[NhanVien] ([MaTK])
GO
ALTER TABLE [dbo].[LichSuDieuDong] CHECK CONSTRAINT [FK_LichSuDieuDong_NhanVien]
GO
