USE [QUAN_LY_NHA_HANG]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 17/12/2024 10:37:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMA] [varchar](10) NOT NULL,
	[TenMA] [nvarchar](50) NULL,
	[GiaHienTai] [int] NULL,
	[TinhTrangMonAn] [nvarchar](5) NULL,
	[MaMuc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_Muc] FOREIGN KEY([MaMuc])
REFERENCES [dbo].[Muc] ([MaMuc])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_Muc]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD CHECK  (([GiaHienTai]>(0)))
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD CHECK  (([TinhTrangMonAn]=N'Không' OR [TinhTrangMonAn]=N'Có'))
GO
